---
import Card from "./Card/index.astro";
import { Icon } from "astro-icon/components";
import { LinkPreview } from "./LinkPreview";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Paweł Gawlik, a front-end software developer from Poland.
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li class="flex flex-row gap-2 items-center">
          JavaScript <LinkPreview
            client:visible
            url="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
          >
            <Icon name="mdi:language-javascript" class="text-yellow-400" />
          </LinkPreview>
        </li>
        <li class="flex flex-row gap-2 items-center">
          Svelte <LinkPreview client:visible url="https://svelte.dev"
            ><Icon name="ri:svelte-fill" class="text-[#ff3e00]" />
          </LinkPreview>
        </li>
        <li class="flex flex-row gap-2 items-center">
          Vue <LinkPreview client:visible url="https://vuejs.org"
            ><Icon name="mdi:vuejs" class="text-green-400" />
          </LinkPreview>
        </li>
        <li class="flex flex-row gap-2 items-center">
          React <LinkPreview client:visible url="https://react.dev"
            ><Icon name="mdi:react" class="text-blue-600" />
          </LinkPreview>
        </li>
        <li class="flex flex-row gap-2 items-center">
          Nodejs <LinkPreview client:visible url="https://nodejs.org/en"
            ><Icon name="mdi:nodejs" class="text-green-700" />
          </LinkPreview>
        </li>
        <li class="flex flex-row gap-2 items-center">
          Playwright <LinkPreview client:visible url="https://playwright.dev">
            <Icon name="logos:playwright" />
          </LinkPreview>
        </li>
      </ul>
      <p class="text-sm font-light">
        Beyond coding, I'm passionate about chess and squash.
      </p>
    </p>
  </div>
</Card>
